*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}


/* barra de navegacion */
header{
    background-color: #bc6c25;
}
.link-color{
    color: #dda15e;
    text-shadow: 1px 1px 3px rgb(48, 48, 48);
}
.link-color:hover{
    color: #dda15e;
    text-shadow: 1px 2px 3px rgb(0, 0, 0);
}
.font-size{
    font-size: 20px;
}


/* portada del index */
.portada h1{
    font-size: 9rem;
    text-align: center;
    color: #dda15e;
    text-shadow: 3px 4px 3px rgb(0, 0, 0);
}
.portada p{
    font-size: 2.3rem;
    text-align: center;
    color: #fefae0;
    text-shadow: 2px 2px 1px black;
}
.portada {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../Imagenes/Portada/IMG\ -\ 02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 50px;
    margin-bottom: 25px;
    height: 920px;
}


/* cuerpo del index*/
h1{
    text-align: center;
    margin: 20px;
}
.texto_tarjetas{
    font-size: 2rem;
}
ul{
    font-size: 1.5rem;
}

.titulos{
    padding: 10px;
    font-size: 3.5rem;
}

body {
    margin: auto;
    background-color: #d1bc9c;
    background-image: url(../Imagenes/PapelTapiz/patron_ornamental.jpg);
    background-size: contain;
}
.boton{
    position: relative;
    top: 75px;
    text-decoration: none;
    font-size: 55px;
    color: #fefae0;
    text-shadow: 2px 1px 5px rgb(48, 48, 48);
}
.card_index h2{
    font-size: 65px;
    text-shadow: 4px 4px 3px rgb(17, 17, 17);
    padding-top: 60px;
}
.card_index{
    height: 350px;
    width: 500px;
    text-align: center;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 5px 5px 4px rgb(65, 65, 65);
}
.card_index:hover{
    box-shadow: 6px 6px 4px rgb(31, 31, 31);
}
.cabañas{
    background-image: url(../Imagenes/Cabaña2/20230423_154352_mobile.jpg);
    background-size: cover;
}
.habitaciones{
    background-image: url(../Imagenes/Habitacion2/20230423_160108.jpg);
    background-size: cover;
}
.servicios{
    background-image: url(../img/foto_desayuno_index_mobile.jpg);
    background-size: cover;
}
.ubicacion{
    background-image: url(../img/foto-ubicacion2.jpg);
    background-size: cover;
}
.turismo{
    background-image: url(../img/foto_turismo_index.jpg);
    background-size: cover;
}
.menu_index{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


/* cuerpo seccion cabañas */

main h1{
    font-size: 4rem;
    color: #bc6c25;
    text-shadow: 2px 2px 3px rgb(31, 31, 31);
}
.card_mio{
    display: flex;
    border: 1px solid black;
    border-radius: 20px;
    margin: 35px;
    overflow: hidden;
    box-shadow: 2px 2px 3px rgb(31, 31, 31);
    background-color: #dda15e;
    background-image: url(../Imagenes/PapelTapiz/textura-tablas-madera.jpg);
    background-size: cover;
}
.card_mio:hover{
    border: 2px solid black;
    box-shadow: 4px 4px 3px rgb(31, 31, 31);
}
.list_cab{
    width: 50%;
    margin: 20px;
}
.img_cab{
    width: 80%;
}
.cab_reverse{
    flex-direction: row-reverse;
}


/* cuerpo seccion habitaciones */

.galeria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 150px;
}

.list_galeria{
    display: flex;
}
.list_galeria li{
    margin: 20px;
}



/* contenido seccion servicio */
.foto_desayuno{
    grid-area: foto1;
}
.foto_almuerzo{
    grid-area: foto2;
}
.texto_desayuno{
    grid-area: texto1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}
.texto_almuerzo{
    grid-area: texto2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}
.contenido_servicios{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 600px 300px;
    grid-template-areas: 
    "foto1 foto2"
    "texto1 texto2";
    row-gap: 20px;
}
.contenido_servicios div img{
    width: 96%;
    height: 600px;
    box-shadow: 2px 2px 2px rgb(31, 31, 31) ;
    margin: 15px;
}

/* contenido seccion ubicacion */

.contenido_ubicacion{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 700px;
    column-gap: 15px;
    margin: 15px;
}
.mapa iframe{
    height: 100%;
    width: 100%;
    box-shadow: 2px 2px 2px rgb(31, 31, 31);
}
.indicaciones_ubicacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.indicaciones_ubicacion img{
    width: 100%;
    height: 75%;
}

/* pie de pagina */
footer {
    display: flex;
    justify-content: space-between;
    background-color: #bc6c25;
    color: #fefae0;
    padding: 35px 15px;
    margin-top: 25px;
}
footer div p{
    font-size: 24px;
}
footer h2 {
    text-align: center;
    color: #fefae0;
    margin-bottom: 15px;
}
#redes_sociales{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#redes_sociales div a{
    margin: 15px;
}



@media screen and (max-width: 600px){
    /* modificaciones de la portada */
    .portada {
        background-image: url(../Imagenes/Portada/IMG\ -\ 02\ mobile.jpg);
        height: 680px;
    }
    .portada h1{
        font-size: 4rem;
    }
    .portada p{
        font-size: 1.5rem;
    }

    /* modificaciones del cuerpo index */
    .card_index{
        height: 300px;
        width: 90%;

    }
    .card_index h2{
        font-size: 3rem;
        padding-top: 0;
    }
    .menu_index div{
        display: flex;
        justify-content: center;
    }
    .menu_index div a{
        padding: 10%;
    }
    /* modificaciones de pie de pagina */
    #redes_sociales div a img{
        height: 50px;
        width: 50px;
        margin-bottom: 15px;
    }
    /* secciones */

    /* seccion cabañas */
    
    main h1{
        font-size: 2.7rem;
    }
    .img_cab{
        width: 100%;
    }
    .card_mio{
        flex-direction: column;
        margin: 10px;
    }
    .list_cab{
        width: 100%;
    }
    .titulos{
        font-size: 2rem;
    }
    .texto_tarjetas{
        font-size: 1.4rem;
    }
    ul{
        font-size: 1.2rem;
    }
    /* seccion habitaciones */
    
    .list_galeria{
        display: block;
        margin-left: 15px;
    }
    .list_galeria li{
        margin: 0;
    }
    .galeria{
        justify-content: start;
        align-items: start;
    }
    .galeria p{
        margin-left: 15px;
        margin-top: 10px;
    }
    /* seccion servicios */
    .contenido_servicios{
        grid-template-columns: 100%;
        grid-template-rows: 30% 20% 30% 20%;
        grid-template-areas:
        "foto1"
        "texto1"
        "foto2"
        "texto2";
        margin-bottom: 70px;
    }
    .contenido_servicios div{
        display: flex;
        justify-content: center;
    }
    .contenido_servicios div img{
        height: 100%;
    }
    .texto_desayuno, .texto_almuerzo{
        margin-top: 15px;
        padding-top: 40px;
        padding-bottom: 45px;
    }
    /* seccion ubicacion */
    
}