nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
div ul{
    display: flex;
    list-style: none;
}
ul li{
    padding-left: 6px;
}
#home , #company{
    border-right: 2px solid black;
    padding-right: 5px;
}
section{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    margin-top: 100px;
    align-items: center;
    justify-items: center;
    padding: 50px;
}
section p{
    font-size: 30px;
}
footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    align-items: center;
    justify-items: center;
    border-top: 2px solid black;
    padding-top: 50px;
    font-size: 30px;
}