footer {
    display: map-get($footer , display);
    justify-content: map-get($footer , just-cont);
    background-color: map-get($footer , fondo);
    color: map-get($footer , color-letra);
    padding: map-get($footer , padd);
    margin-top: map-get($footer , marg-t);
    h2{
        text-align: center;
        color: $color_terc;
        margin-bottom: 15px;
    }
    div{
        p{
            font-size: 24px;
        }
    }
}
#redes_sociales{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    div{
        a{
            margin: 15px;
            img{
                @media screen and (max-width: 600px){
                    height: 50px;
                    width: 50px;
                    margin-bottom: 15px;
                }
            }
        }
    }
}