*{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}
.icon-mio{
    margin: 20px 0;
}
header{
    background-color: $color_princ;
}
.link-color{
    color: $color_sec;
    text-shadow: 1px 1px 3px rgb(48, 48, 48);
    &:hover{
        color: $color_terc;
        text-shadow: 1px 2px 3px rgb(0, 0, 0);
    }
}
.font-size{
    font-size: 20px;
}